<form class="container">
  <div class="title">
    <h2>Filtros</h2>
  </div>

  <mat-form-field>
    <mat-label>UF</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="UF">
      <mat-option value="bla">bla</mat-option>
      <mat-option value="bla2">bla2</mat-option>
      <mat-option value="bla3">bla3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Municipio</mat-label>
    <mat-select name="Municipio">
      <mat-option value="bla">bla</mat-option>
      <mat-option value="bla2">bla2</mat-option>
      <mat-option value="bla3">bla3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Situação</mat-label>
    <mat-select name="Situacao">
      <mat-option value="bla">bla</mat-option>
      <mat-option value="bla2">bla2</mat-option>
      <mat-option value="bla3">bla3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Situação</mat-label>
    <mat-select name="Situacao">
      <mat-option value="bla">bla</mat-option>
      <mat-option value="bla2">bla2</mat-option>
      <mat-option value="bla3">bla3</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="checkboxes">
    <mat-checkbox>Filial</mat-checkbox>
    <mat-checkbox>Matriz</mat-checkbox>
  </div>

  <div class="buttons">
    <button matButton="filled" style="background-color: red">Excluir</button>
    <button matButton="filled" style="background-color: #df9800">Editar</button>
    <button matButton="filled" style="background-color: #6cc94a">
      Adicionar
    </button>
  </div>
</form>
