.container {
    display: flex;
    flex-direction: column;
    background-color: #A2A2A2;
    padding: 20px;
    border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
}
