<div>
    <div class="title">
        <h3>Empresas</h3>
    </div>

    <div class="container">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds" class="dados">
            <div *ngFor="let empresa of dados; let i = index" class="textos">
              <mat-chip-option (click)="sendDados(empresa.cnpj)">
                {{ empresa.razao_social }}
              </mat-chip-option>
            </div>
          </mat-chip-listbox>
          
          
          <p *ngIf="dados.length === 0" class="vazio">Nenhuma empresa encontrada.</p>
            <!-- <div class="copy">
              <button matButton="filled" style="background-color: #BCBCBC">
                Copiar Tudo
              </button>
            </div> -->
    </div>
</div>
